doctype
html
  head
    title Recent Kilauea Volcano Tremors
  body
    h1 Iterating over the JSON Tremor object & printing name: value
    for key, index in json
      p
      for key2, index2 in key
        div #{index2}:  #{key2}
