doctype
html
  head
    title Recent Kilauea Volcano Tremors
    link(rel='stylesheet', href='stylesheets/screen.css') 
  body
    h1 Count of Kilauea Earthquake Magnitudes Since May&nbsp3,&nbsp2018
    p <br>
    table(align="center" border=2)
      thead
        tr
          th Magnitude 
          th Count
      tbody
      - for (var i = 5; i >=0; i-- )
          tr 
            td=maglabel[i]
            td=magsize[i]
    div #{date}
